@{
    ViewBag.Title = "GitHub Users Search";
}

@model GhUsersTat.Models.UserSearch

<main>
    @using (Html.BeginForm("StartSearch", "UserSearch", FormMethod.Post, new { id = "search-form" }))
    {
        @Html.LabelFor(x => x.Username)
        <div class="user-search-input-continer">
            @Html.TextBoxFor(
                x => x.Username,
                new
                {
                    @class = "user-search-textbox",
                    placeholder = "Username",
                    autocomplete = "off",
                })
            <div class="user-search-submit-container">
                <button type="submit" class="start-user-search">Search</button>
                <div class="loading-spinner"></div>
            </div>
        </div>
        @Html.ValidationMessageFor(x => x.Username)
    }

    <div id="search-result-container"></div>

    @section Scripts {
        <script src="~/Scripts/UserSearch.js"></script>
        <script>
            UserSearch.initialise();
        </script>
    }
</main>