@{
    ViewBag.Title = "GitHub Users Search";
    Html.EnableClientValidation();
}

@model GhUsersTat.Models.UserSearch

<main>
    @using (Html.BeginForm("StartSearch", "UserSearch", FormMethod.Post, new { id = "search-form" }))
    {
        @Html.LabelFor(x => x.Username)
        <div class="user-search-input-continer">
            @Html.TextBoxFor(
                x => x.Username,
                new 
                {
                    @class = "user-search-textbox",
                    placeholder = "Username",
                    autocomplete = "off",
                })
            <button type="submit" class="start-user-search">Search</button>
        </div>
        @Html.ValidationMessageFor(x => x.Username)
    }

    <div id="search-result-container"></div>

    @section Scripts {
        <script>
            $(document).ready(function() {
                $("#search-form").submit(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: this.action,
                        method: this.method,
                        data: $(this).serialize(),
                        success: result => {
                            $("#search-result-container").html(result);
                        }
                    });
                });

                $("#Username").on("input", () => {
                    $("#search-result-container").html("");
                })
            });
        </script>
    }
</main>